@use "../shared/shared.scss";

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  background-color: black;
  opacity: 0.2;

  @include shared.mobiles {
    opacity: 1;
  }

  &.show {
    display: block;
  }

  &.hidden {
    display: none;
  }

  .picture {
    position: absolute;
    top: 0;
    height: 100vh;
    width: inherit;
    background-position: top;
    background-size: cover;
    transition: all 1s ease-in;
    z-index: -1;
    opacity: 1;
    animation: moving-bg 19s linear infinite;
    width: 150vw;
    height: 150vh;

    &.not-loaded {
      top: -50vh;
      left: -50vw;
      width: 200vw;
      height: 200vh;
      opacity: 0;
    }
  }
}

@keyframes moving-bg {
  0% {
    opacity: 0;
    top: -15rem;
    left: -10rem;
  }
  15% {
    opacity: 1;
  }
  25% {
    top: -20rem;
    left: 0rem;
  }
  40% {
    opacity: 1;
  }
  50% {
    top: -25rem;
    right: 10rem;
  }
  75% {
    top: -20rem;
    right: 0rem;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: -15rem;
    left: -10rem;
  }
}
