@use "../shared/shared.scss";

.form-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 50rem;
  width: 50rem;

  color: black;

  padding: 3rem;
  padding-top: 7rem;

  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 2rem;

  background-color: rgba(33, 33, 33, 0.365);

  gap: 1rem;

  h1 {
    margin: 0rem;

    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-direction: column;
    color: inherit;
    margin-top: 2rem;

    a {
      color: inherit;
    }
  }
}
