@use "../shared/shared.scss";

.infoCard {
  position: absolute;
  top: 5%;
  left: 50%;
  transition: opacity 1s ease-in;
  width: 15rem;
  text-align: center;
  opacity: 0;
  transform: translate(-50%, -50%);

  background-color: shared.$third-color-opac;

  z-index: -1;

  font-size: 1.5rem;
  overflow: hidden;

  border-radius: 20px;
  padding: 1rem;

  @include shared.mobiles {
    top: 84%;
    left: 20%;
  }

  &.show {
    opacity: 1;
    z-index: 3;
  }

  .load-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: white;
    width: 100%;
    animation: timerAnim 3s linear 1;
  }
}

@keyframes timerAnim {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  80% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}
