@use "../shared/shared.scss";

header {
  .toolbar {
    .toolbar-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 5rem;
      margin-top: 1rem;

      .btn-logout {
        background: none;
        border: none;
        font-family: shared.$vidaloka-font;
        letter-spacing: 0.25rem;
        cursor: pointer;
        .icon-prov {
          height: 3rem;
          width: 3rem;
        }
      }

      .container {
        display: flex;
        align-items: center;
        gap: 1rem;

        .logo-name {
          font-family: shared.$vidaloka-font;
          font-weight: 500;
          font-size: 24px;
          width: 10rem;

          cursor: default;
        }
      }

      button {
        margin-right: 1.5rem;
      }
    }

    .toolbar-helper {
      // position: absolute;
      z-index: 4;
      height: shared.$column-helper-width;
      width: 100vw;
      background-color: shared.$basic-color;
      opacity: shared.$column-opac;
      margin-top: 1rem;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 3;
  transition: all 0.3s ease-in;

  &::before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    content: "";

    height: 7rem;
    width: 100vw;
    border-bottom: shared.$column-helper-width solid rgba(255, 255, 255, 0.2);
  }

  &.shown {
    left: 0;
    opacity: 1;
  }

  &.not-shown {
    left: -150rem;
    opacity: 0;
  }

  .link-wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: shared.$secondary-solor;
    z-index: 1;

    .helper {
      width: 3px;
      height: inherit;
      background-color: #fff;
      opacity: shared.$column-opac;
    }
  }

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 20%;
    height: 100vh;
    font-family: "Vidaloka", serif;
    font-size: 40px;
    letter-spacing: 3px;
    color: shared.$basic-color;
    overflow: hidden;

    &:hover {
      img {
        opacity: 0.2;
        left: -20rem;
      }
    }

    img {
      position: absolute;
      top: 7rem;
      left: 0;
      width: 75rem;
      height: 75rem;
      z-index: -1;
      opacity: 0;

      transition: all 2s ease-in;
    }

    p {
      font-family: "Vidaloka", serif;
      font-size: 40px;
      letter-spacing: 3px;
    }

    :active {
      color: black;
    }
  }
}
