@use "../shared/shared.scss";

header {
  .toolbar {
    .toolbar-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 5rem;
    }
    .toolbar-helper {
      height: shared.$column-helper-width;
      width: 100vw;
      background-color: shared.$basic-color;
      opacity: shared.$column-opac;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  .link-wrapper {
    display: flex;
    margin: 0;
    width: 100vw;
    background-color: shared.$secondary-solor;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 20%;
    height: 100vh;
    font-family: "Vidaloka", serif;
    font-size: 40px;
    letter-spacing: 3px;

    :active {
      color: black;
    }
  }
}
