.oauth-wrapper {
  width: 20rem;

  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.5rem;

  img {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.5rem;
  }

  span {
    font-size: 2rem;
  }
}
