$basic-color: #fff;
$secondary-solor: #000;
$third-color: #9d1b31;
$third-color-opac: rgb(157, 27, 49, 0.5);
$column-opac: 0.2;
$column-helper-width: 3px;

$vidaloka-font: "Vidaloka", serif;
$vidaloka-size: 40px;

$heebo-font: "Heebo", sans-serif;
$heebo-font-01: 14px;
$heebo-font-02: 16px;
