.artists-wrapper {
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: column;
  width: 99vw;
  justify-content: center;
  align-items: center;
  z-index: 0;

  .mySwiper {
    height: 50rem;

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 15rem;
      height: 15rem !important;

      div {
        background-color: green;
      }
    }

    .swiper-wrapper {
      justify-content: center;
      align-items: center;
    }
  }
}
