.artist-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  .artist-info-wrapper {
    width: 45vw;
  }

  .artist-artwork-wrapper {
    width: 45vw;

    .mySwiper {
      height: 45rem;

      .swiper-wrapper {
        justify-content: center;
        align-items: center;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 40rem;
        height: 20rem !important;

        a {
          height: inherit;
          display: block;
          text-decoration: none;
          background-repeat: none;
          background-size: cover;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }
      }

      .swiper-pagination-fraction {
        top: 0;
        height: 1rem;
      }
    }

    img {
      width: 15rem;
      height: 15rem;
    }
  }
}
