.artist-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  .button-wrapper {
    display: flex;
    justify-content: center;
    width: 10%;
  }

  .artist-info-wrapper {
    width: 45vw;

    .title-wrapper {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 1rem;

      .icon-prov {
        height: 3rem;
        width: 3rem;
      }
    }
  }

  .artist-artwork-wrapper {
    width: 45vw;
    z-index: 0;
    display: flex;
    align-items: center;

    .artist-swiper-with-pagination {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
      }

      .pag-wrapper {
        margin: 0;
      }
    }

    .mySwiper {
      height: 45rem;

      .swiper-wrapper {
        justify-content: center;
        align-items: center;
      }

      .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40rem;
        height: 20rem !important;
        opacity: 0.5;
        transition: opacity 0.3s ease-in;

        &:hover {
          opacity: 1;
        }

        img {
          width: 20rem;
          height: 20rem;
        }

        a {
          height: inherit;
          display: block;
          text-decoration: none;
        }
      }

      .swiper-pagination-fraction {
        top: 0;
        height: 1rem;
      }
    }
  }
}
