.artist-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artist-wrapper {
    flex-direction: column;
  }
}
.artist-wrapper .button-wrapper {
  display: flex;
  justify-content: center;
  width: 10%;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artist-wrapper .button-wrapper {
    width: 100%;
    margin: 0.5rem 0;
  }
}
.artist-wrapper .artist-info-wrapper {
  width: 55vw;
  margin-right: 5%;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artist-wrapper .artist-info-wrapper {
    width: 100%;
  }
}
@media (min-width: 319px) and (max-width: 640px) {
  .artist-wrapper .artist-info-wrapper .birth-paragraph {
    text-align: center;
  }
}
.artist-wrapper .artist-info-wrapper .title-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artist-wrapper .artist-info-wrapper .title-wrapper {
    width: 100%;
    justify-content: center;
  }
}
.artist-wrapper .artist-info-wrapper .title-wrapper .icon-prov {
  height: 3rem;
  width: 3rem;
}
.artist-wrapper .artist-artwork-wrapper {
  width: 45vw;
  z-index: 0;
  display: flex;
  align-items: center;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artist-wrapper .artist-artwork-wrapper {
    width: 100vw;
  }
}
.artist-wrapper .artist-artwork-wrapper .artist-swiper-with-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 1rem;
  border-left: 3px solid rgba(255, 255, 255, 0.2);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
}
@media (min-width: 319px) and (max-width: 640px) {
  .artist-wrapper .artist-artwork-wrapper .artist-swiper-with-pagination {
    border: none;
  }
}
.artist-wrapper .artist-artwork-wrapper .artist-swiper-with-pagination p {
  margin: 0;
}
.artist-wrapper .artist-artwork-wrapper .artist-swiper-with-pagination .pag-wrapper {
  margin: 0;
}
.artist-wrapper .artist-artwork-wrapper .mySwiper {
  height: 51rem;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artist-wrapper .artist-artwork-wrapper .mySwiper {
    height: -moz-fit-content;
    height: fit-content;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.artist-wrapper .artist-artwork-wrapper .mySwiper .swiper-wrapper {
  justify-content: center;
  align-items: center;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artist-wrapper .artist-artwork-wrapper .mySwiper .swiper-wrapper {
    justify-content: flex-start;
  }
}
.artist-wrapper .artist-artwork-wrapper .mySwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 20rem !important;
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
}
.artist-wrapper .artist-artwork-wrapper .mySwiper .swiper-slide:hover {
  opacity: 1;
}
.artist-wrapper .artist-artwork-wrapper .mySwiper .swiper-slide img {
  width: 20rem;
  height: 20rem;
}
.artist-wrapper .artist-artwork-wrapper .mySwiper .swiper-slide a {
  height: inherit;
  display: block;
  text-decoration: none;
}
.artist-wrapper .artist-artwork-wrapper .mySwiper .swiper-pagination-fraction {
  margin-top: 0.5rem;
  text-align: center;
}/*# sourceMappingURL=Artist.css.map */