.artist-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  .artist-info-wrapper {
    width: 45vw;
  }

  .artist-artwork-wrapper {
    width: 45vw;
    z-index: -1;

    .mySwiper {
      height: 45rem;

      .swiper-wrapper {
        justify-content: center;
        align-items: center;
      }

      .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40rem;
        height: 20rem !important;

        img {
          width: 20rem;
          height: 20rem;
        }

        a {
          height: inherit;
          display: block;
          text-decoration: none;
        }
      }

      .swiper-pagination-fraction {
        top: 0;
        height: 1rem;
      }
    }
  }
}
