.artworks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .swiper-wrapper {
    width: 100vw;
  }
  .mySwiper {
    height: 50rem;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40rem !important;
      height: 48rem !important;
      opacity: 0.5;
      transition: opacity 0.3s ease-in;

      &:nth-child(even) {
        width: 20rem !important;
        height: 20rem !important;
      }

      &:hover {
        opacity: 1;
      }

      .img-wrapper {
        width: inherit;
        height: inherit;

        img {
          width: inherit;
          height: inherit;
        }

        .image-placeholder {
          width: inherit;
          height: inherit;
        }
      }

      a {
        height: inherit;
        display: block;
        text-decoration: none;
      }
    }
  }
}
