@use "../shared/shared.scss";

.artworks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .swiper-wrapper {
    width: 100vw;
  }
  .mySwiper {
    height: 44rem;

    @include shared.mobiles {
      height: 35rem;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40rem !important;
      height: 38rem !important;
      opacity: 0.5;
      transition: all 0.3s ease-in;

      @include shared.mobiles {
        height: 26rem !important;
        width: inherit !important;
      }

      &:nth-child(even) {
        width: 20rem !important;
        height: 20rem !important;

        .img-wrapper {
          img {
            width: 15rem !important;
          }
        }

        @include shared.mobiles {
          width: inherit !important;
          height: 15rem !important;
        }
      }

      &:hover {
        opacity: 1;
      }

      .img-wrapper {
        width: inherit;
        height: inherit;

        @include shared.mobiles {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          width: inherit;
          height: inherit;

          @include shared.mobiles {
            width: 30rem !important;
            margin: 0 auto;
          }
        }

        .image-placeholder {
          width: inherit;
          height: inherit;
        }
      }

      a {
        height: inherit;
        display: block;
        text-decoration: none;
      }
    }
  }
}
