.artwork-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.artwork-wrapper.show {
  opacity: 1;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artwork-wrapper {
    flex-direction: column;
  }
}
.artwork-wrapper .placeholder {
  height: 84vh;
}
.artwork-wrapper .button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 10%;
  height: 100%;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artwork-wrapper .button-wrapper {
    margin: 1rem 0;
  }
}
.artwork-wrapper .artwork-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 2s ease-in;
  width: 60vw;
  height: 84vh;
  border-left: 3px solid rgba(255, 255, 255, 0.2);
}
.artwork-wrapper .artwork-image-wrapper.show {
  opacity: 1;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artwork-wrapper .artwork-image-wrapper {
    border-left: none;
    width: 100vw;
    flex-direction: column-reverse;
  }
}
.artwork-wrapper .artwork-image-wrapper .img-wrap {
  position: relative;
  width: 100%;
  height: 70vh;
}
.artwork-wrapper .artwork-image-wrapper .img-wrap img {
  width: inherit;
  height: inherit;
  margin: 1rem;
  padding-right: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artwork-wrapper .artwork-image-wrapper .img-wrap img {
    margin: 0;
    padding: 0;
  }
}
.artwork-wrapper .artwork-image-wrapper .img-wrap .icon-prov {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
  width: 3rem;
  height: 3rem;
  margin: 0;
}
.artwork-wrapper .artwork-image-wrapper .title-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  margin-left: 2rem;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artwork-wrapper .artwork-image-wrapper .title-wrapper {
    margin: 0;
    padding: 0;
  }
}
.artwork-wrapper .artwork-image-wrapper .title-wrapper h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artwork-wrapper .artwork-image-wrapper .title-wrapper h2 {
    text-align: center;
  }
}
.artwork-wrapper h2 {
  padding-left: 1rem;
}
.artwork-wrapper .artwork-details-wrapper {
  padding-top: 2rem;
  padding-left: 2rem;
  height: 84vh;
  align-self: flex-start;
  width: 35vw;
  overflow: hidden;
  border-left: 3px solid rgba(255, 255, 255, 0.2);
}
.artwork-wrapper .artwork-details-wrapper.show .detail-header,
.artwork-wrapper .artwork-details-wrapper.show .detail-paragraph {
  margin-left: 0rem;
  opacity: 1;
}
@media (min-width: 319px) and (max-width: 640px) {
  .artwork-wrapper .artwork-details-wrapper {
    border-left: none;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.artwork-wrapper .artwork-details-wrapper .detail-paragraph {
  margin-left: 10rem;
  opacity: 0;
  transition: all 2s ease-in;
}
.artwork-wrapper .artwork-details-wrapper .detail-header {
  position: relative;
  font-family: "Vidaloka", serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
  margin: 0;
  margin-left: 5rem;
  opacity: 0;
  padding-left: 0;
  transition: all 1.5s ease-in;
}
.artwork-wrapper .artwork-details-wrapper .detail-header::after {
  position: absolute;
  bottom: -0.6rem;
  display: block;
  content: "";
  width: 10rem;
  height: 3px;
  background-color: #9d1b31;
}/*# sourceMappingURL=Artwork.css.map */