@use "../shared/shared.scss";

body {
  position: relative;
  margin: 0;
  height: 100vh;
  background-color: shared.$secondary-solor;
}

.home-wrapper {
  margin: 0;
  width: 100%;
  display: flex;

  gap: 1rem;

  .rec-wrapper:first-child {
    top: 5rem;
    left: 5rem;
  }

  .rec-wrapper:last-child {
    top: 5rem;
    right: 5rem;
  }
}
