@use "../shared/shared.scss";

.login-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 100vh;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  &.show {
    opacity: 1;
  }

  @include shared.mobiles {
    position: static;
  }

  @include shared.tablets {
    position: relative;
  }

  @include shared.desktops {
    position: relative;
  }

  @include shared.uhd-desktops {
    position: relative;
  }

  a {
    color: black;
  }
}
