@use "../shared/shared.scss";

.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .artworks-wrapper {
    opacity: 1;
  }

  .artist-wrapper,
  .artworks-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
    // align-items: center;
    z-index: 0;
    // height: 45vh;

    h3 {
      margin: 0;
      align-self: flex-start;
    }

    .mySwiper {
      width: 100vw;
      height: 20rem;
      opacity: 0;
      transition: opacity 0.5s ease-in;

      &.shown {
        opacity: 1;
      }

      .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20rem !important;
        height: 18rem !important;
        opacity: 0.5;
        transition: opacity 0.3s ease-in;

        @include shared.mobiles {
          width: 100% !important;
          height: 18rem !important;
        }

        @include shared.mobile-height {
          height: 14rem !important;
        }

        .img-wrapper {
          display: flex;
          justify-content: center;
          width: inherit;
          height: inherit;

          img {
            width: inherit;
            height: inherit;

            @include shared.mobiles {
              width: 65%;
            }
          }
        }

        &:hover {
          opacity: 1;
        }

        .swiper-wrapper {
          justify-content: center;
          align-items: center;

          img {
            width: inherit;
            height: inherit;
          }
        }

        a {
          background-repeat: none;
          background-size: 100% 100%;
          height: inherit;
          display: block;
          text-decoration: none;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }
      }

      .swiper-pagination-fraction {
        top: 0;
        height: 1rem;
      }
    }
  }
}
