.App {
  overflow-x: hidden;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basic-button {
  color: white;
  width: 20rem;
  margin-top: 1rem;

  background: none;
  height: 5rem;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
  background-color: rgb(157, 27, 49, 0.5);
  transition: background-color 0.5s ease-in;
}
.icon-prov {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;

  fill: rgb(157, 27, 49);

  opacity: 0.7;
  transition: opacity 0.3s ease-in;
}

.icon-prov:hover {
  opacity: 1;
}

.basic-button:hover {
  background-color: rgb(157, 27, 49);
  cursor: pointer;
}

.link-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 2rem;
}

.link-wrapper > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-wrapper > a > .icon-prov {
  width: 3rem;
  height: 2rem;
  margin: 0;
}
